.calendar {
  max-width: 304px;
  width: 100%;
  padding: 28px 26px 40px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}
.calendar__title {
  margin-bottom: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.calendar__wrapper {
  position: relative;
  padding-bottom: 100%;
}
.calendar__grid {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repear(7, 1fr);
  place-items: center;
  gap: 0;
}
.calendar__grid-item {
  box-sizing: border-box;
  padding: 10px 13px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.grid-item_day {
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--grey-3);
}
.grid-item_day_selected {
  background: var(--blue);
  color: var(--white);
}
.grid-item_day_in-range {
  background: var(--purple-6);
}
